
.admtable {
  table {
    width: 100%;
    table-layout: fixed;
  }
  &.border-bottom {
    border-bottom: 1px solid rgba(100,100,100, .5);
  }
  .btn {
    margin-left: 0 !important;
  }
  .text-left {
    text-align: left !important;
  }
  .text-right {
    text-align: right !important;
  }
  th {
    font-size: 10px;
    height: 35px;
    border-bottom: 1px solid rgba(100,100,100, .5);
  }
  td {
    font-size: 10px;
    text-align: center;
    padding: 8px 5px;
    &.space {
      height: 10px !important;
    }
    a {
      font-size: 10px;
    }
  }
}


.attendance-arrow {
  height: 70px;
  background: url('../images/arrow-down.png') no-repeat center;
  background-size: auto 12px;
}
.attendance {
  border-top: 1px solid rgba(100,100,100,.5);;
  border-bottom: 1px solid rgba(100,100,100,.5);
  padding-top: 10px;
  padding-bottom: 10px;
  & + .attendance {
    border-top: none;
  }
  .attendance-top {
    display: flex;
    justify-content: space-between;
  }
  .attendance-bottom {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    .checkbox2 {
      width: 50%;
      flex: none !important;
      &:nth-child(n + 3) {
        margin-top: 10px;
      }
    }
  }
}

.prd__section-tab {
  background:#eaeaea;
  height: 40px;
  padding-bottom: 10px;
  padding-left: 35px;
  width: 100%;
  strong{
    font-size: 14px;
  }
  span {
    font-size: 10px;
    background: url('../images/arrow-down.png') no-repeat right center;
    background-size: auto 5px;
    padding-right: 12px;
  }
  div {
    padding:0 10px;
    width: 100%;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
  }
}
.prd__section-content {
  padding: 15px 32px 30px;
}

.buy-history {
  background: rgb(234, 234, 234);
}