.btnbox {
  @apply flex items-center justify-center;
  &.fixed {
    @apply fixed w-full;
    left: 0;
    bottom: 0;
    padding-bottom: 40px;
    background: #fff;
    padding-top: 20px;
  }
}

.submit-btn {
  width: 185px;
  height: 36px;
  line-height: 36px;
  border-radius: 2em;
  color: #fff;
  font-size: 12px;
  @apply text-center;
  background: #ffb100;
  transition: all 0.3s;
  font-weight: 600;
  &:hover {
    background: #ff3b00;
  }
  &.small {
    width: 100px;
    border-radius: 7px;
  }
  &.red {
    background: $red;
    color: #fff;
  }
}

.white-btn {
  width: 185px;
  height: 36px;
  font-weight: 600;
  line-height: 36px;
  border-radius: 2em;
  color: #5a5553;
  font-size: 12px;
  @apply text-center;
  background: #fff;
  border: 1px solid $yello;
  transition: all 0.3s;
  &:active,
  &:hover {
    background: $yello;
    color: #fff;
  }
  &.small {
    width: 100px;
    border-radius: 7px;
  }
}

.btn--default {
  display: block;
  white-space: nowrap;
  width: 65px;
  height: 24px;
  border: 1px solid $yello;
  font-size: 10px;
  text-align: center;
  line-height: 22px;
  border-radius: 2em;
  margin-top: 6px;
  transition: all 0.3s;
  &:hover,
  &:active {
    background: $yello;
    color: #fff;
  }

  &.white {
    color:#fff;
    border-color:#fff;
  }
}
