form {
  display: block;
}

.form__help {
  font-size: 10px;
  color: $red;
}
.form {
  &.form--border {
    padding: 28px;
    max-width: 280px;
    margin: 0 auto;
    border: 1px solid #5a5553;
    border-radius: 10px;
  }
}
.input {
  display: block;
  input {
    display: block;
    width: 100%;
    border: 1px solid #5a5553;
    height: 32px;
    padding: 0 10px;
    font-size: 10px;
    border-radius: 7px;
  }
}

.form__title {
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  &.vertical-top {
    line-height: 14px !important;
  }
  &.swtc {
    width: calc(100% - 100px) !important;
    flex: none !important;
    h3 {
      font-size: 12px;
      font-weight: 600;
      line-height: 14px;
    }
    p {
      font-size: 10px;
      font-weight: 300;
      line-height: 12px;
      margin-top: 5px;
    }
  }
}

.form.flex {
  @apply flex-wrap;
}
.form__row {
  &.form__row-half {
    width: 50%;
    flex: none;
    margin-bottom: 10px;
  }
  &.form__row--full {
    width: 100%;
    flex: none;
  }
  &.column {
    display: flex;
    .form__title {
      width: 85px;
      flex: none;
      line-height: 32px;
    }
    .box {
      flex: 1;

      select,
      input,
      textarea {
        margin-top: 0;
      }
    }
  }
}

.box {
  @apply flex;
  position: relative;
  &.column {
    @apply flex-col;
  }
  .btn {
    white-space: nowrap;
    width: 65px;
    height: 24px;
    border: 1px solid $yello;
    font-size: 10px;
    text-align: center;
    line-height: 22px;
    border-radius: 2em;
    margin-top: 11px;
    transition: all 0.3s;
    &:hover,
    &:active {
      background: $yello;
      color: #fff;
    }
    &.btn-red {
      border-color: $red;
      color: $red;
      &:hover,
      &:active {
        background: $red;
        color: #fff;
      }
    }
    &.btn--w85 {
      width: 85px;
      flex: none;
    }
  }
  .file {
    width: 100%;
    min-height: 30px;
    border: 1px solid rgba(100, 100, 100, 0.5);
    border-radius: 7px;
    font-size: 10px;
    margin-top: 13px;
    padding: 0 10px;
    background: url('../images/header-search.png') no-repeat calc(100% - 10px) center;
    background-size: auto 12px;

    span {
      line-height: 30px;
      display: block;
    }
  }
  .form-search {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0;
    top: 0;
    background: url('../images/header-search.png') no-repeat center;
    background-size: auto 12px;
  }
  input {
    flex: 1;
    width: 100%;
    height: 32px;
    min-height: 32px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.5);
    font-size: 10px;
    margin-top: 5px;
    background: none;
    &.is_confirm {
      background: url('../images/is_confirm.png') no-repeat right center;
    }
    &[readonly] {
      border: none;
    }
    &.border {
      border: 1px solid rgba(100, 100, 100, 0.5);
      border-radius: 7px;
      padding: 0 10px;
      & + .btn {
        height: 30px;
        line-height: 28px;
        margin-top: 0;

        &.spc {
          width: 40px;
          height: 24px;
          line-height: 22px;
          margin-top: 0;
        }
      }
    }
  }

  textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(100, 100, 100, 0.5);
    border-radius: 7px;
    font-size: 10px;
    margin-top: 15px;
    padding: 10px;
    line-height: 16px;
    resize: none;
  }

  select {
    flex: 1;
    width: 100%;
    height: 32px;
    min-height: 30px;
    border: 1px solid rgba(100, 100, 100, 0.5);
    border-radius: 7px;
    font-size: 10px;
    padding: 0 10px;
    margin-top: 13px;
    background: url('../images/select-arrow.png') no-repeat calc(100% - 10px) center;
  }
}

.checkbox2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 10px;
  cursor: pointer;
  font-weight: 500;
  input {
    display: none;
    &:checked + span {
      //background: url('../images/i-checkbox-on.png') no-repeat center;
      //border: none;
      //background-size: auto 16px;
      //width: 14px;
      //height: 16px;
      &:after {
        content: '';
        width: 7px;
        height: 12px;
        display: block;
        position: absolute;
        left: 2px;
        bottom: 4px;
        border: 2px solid $red;
        transform: rotate(45deg);
        border-width: 0 2px 2px 0;
      }
    }
  }
  span {
    margin: 0 !important;
    margin-right: 7px !important;
    width: 12px !important;
    height: 12px !important;
    border: 1px solid $base !important;
    position: relative !important;
    background: none !important;
    flex: none !important;
  }
}
.checkbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 10px;
  cursor: pointer;
  input {
    display: none;
    &:checked + span {
      background: $yello;
    }
  }
  span {
    margin-right: 7px;
    width: 12px;
    height: 12px;
    background: #d7d4d2;
    border-radius: 50%;
    transition: all 0.3s;
  }
  strong {
    font-weight: 500;
  }
  i {
    font-style: normal;
    color: #00f;
  }
}

.switch {
  display: inline-block;
  cursor: pointer;
  width: 60px;
}
.switch__layout {
  width: 60px;
  height: 30px;
  position: relative;
  border-radius: 2em;
  overflow: hidden;
  border: 1px solid #5a5553;
}
.switch input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}
.switch input + span:before {
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  content: '';
  transition: all 0.2s ease-out;
}
.switch input + span:after {
  position: absolute;
  left: 34px;
  top: 4px;
  width: 20px;
  height: 20px;
  background: #5a5553;
  content: '';
  display: block;
  border-radius: 50%;
  transition: all 0.2s ease-out;
}
.switch input:checked + span:before {
  background: #fff;
}
.switch input:checked + span:after {
  left: 4px;
  background: $red;
}
.switch input:disabled + span:before {
  opacity: 0.3;
}

.group {
  .group__row {
    @apply flex;
  }
  .group__label {
    width: 70px;
    flex: none;
    label {
      display: block;
      line-height: 16px;
      font-size: 10px;
      padding-top: 7px;
      font-weight: 600;
      position: relative;
      &.label {
        padding-left: 10px;
        &:after {
          content: '';
          display: block;
          width: 2px;
          background: $red;
          height: 10px;
          position: absolute;
          left: 0;
          top: 10px;
        }
      }
    }
  }
  .group__content {
    flex: 1;
    textarea,
    select,
    input {
      margin-top: 0;
    }
  }
}

.time {
  width: 100%;
  .month {
    width: 55px;
    flex: none;
    margin-right: 3px;
  }
  input {
    flex: 1;
  }
}

.file {
  width: 100%;
  .lists {
    padding: 10px 0;
  }
  .fileField-item {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &:last-child {
      margin-bottom: 0;
    }
    p {
      font-size: 12px;
      font-weight: 300;
    }
    a {
      @include text-indent;
      width: 15px;
      height: 15px;
      background: url('../images/i-x.png') no-repeat center;
      background-size: auto 10px;
      margin-left: 5px;
    }
  }
}

.btn-checkbox {
  span {
    width: 40px;
    height: 24px;
    line-height: 22px;
    display: block;
    border: 1px solid $base;
    color: $base;
    border-radius: 2em;
    text-align: center;
  }

  input:checked + span {
    background: $base;
    color: #fff;
  }
}

.stdt-info {
  display: flex;
  .userthumb {
    flex: none;
    width: 120px;
    flex: none;
    margin-right: 20px;

    .img {
      display: block;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      overflow: hidden;
    }
  }
  .info {
    flex: 1;
  }
}

.i-list {
  height: 70px;
  overflow: auto;
  border-top: 1px solid rgba(100, 100, 100, 0.5);
  border-bottom: 1px solid rgba(100, 100, 100, 0.5);
  padding: 5px 0;
  li {
    line-height: 20px;
    font-size: 10px;
  }
}
