.global {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2000;

  .global__nav-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0,0,0,.5);
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
  }
  .global__nav {
    &.active {
      .global__nav-content {
        opacity: 1;
        bottom: 65px;
        // bottom: -288px;
        visibility: visible;
      }
      .global__nav-bg {
        visibility: visible;
        opacity: .7;
      }
    }
  }
  .global__nav-content {
    position: absolute;
    left: 0;
    // opacity: 0;;
    // bottom: 40px;
    bottom: -288px;
    width: 100%;
    z-index: 3000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    transition: all .5s;
    visibility: hidden;
    .global__nav-header {
      background:#fff;
      border-bottom: 10px solid #eaeaea;
      h3 {
        font-size: 22px;
        line-height: 80px;
      }
    }
    .global__nav-body {
      background:#fff;
      padding:0 32px;
      margin-bottom: -2px;
      @apply flex flex-wrap;
      a {
        padding: 20px 0;
        width: 20%;
        flex: none;
        text-align: center;
        font-size: 10px;
        border-bottom: 1px solid rgba(100,100,100,.3);
        &:nth-child(n + 6) {
          border-bottom: none;
        }
        &:hover,
        &.active {
          color:$red;
        }
        span {
          display: block;
          text-align: center;
          height: 20px;
          margin-bottom: 5px;
        }

        &:nth-child(1) {
          span {
            background: url('../images/global1.png') no-repeat center top;
          }
          &.active span {
            background: url('../images/global1-active.png') no-repeat center top;
          }
        }
        &:nth-child(2) {
          span {
            background: url('../images/global2.png') no-repeat center top;
          }
          &.active span {
            background: url('../images/global2-active.png') no-repeat center top;
          }
        }
        &:nth-child(3) {
          span {
            background: url('../images/global3.png') no-repeat center top;
          }
          &.active span {
            background: url('../images/global3-active.png') no-repeat center top;
          }
        }
        &:nth-child(4) {
          span {
            background: url('../images/global4.png') no-repeat center top;
          }
          &.active span {
            background: url('../images/global4-active.png') no-repeat center top;
          }
        }
        &:nth-child(5) {
          span {
            background: url('../images/global5.png') no-repeat center top;
          }
          &.active span {
            background: url('../images/global5-active.png') no-repeat center top;
          }
        }
        &:nth-child(6) {
          span {
            background: url('../images/global6.png') no-repeat center top;
          }
          &.active span {
            background: url('../images/global6-active.png') no-repeat center top;
          }
        }
        &:nth-child(7) {
          span {
            background: url('../images/global7.png') no-repeat center top;
          }
          &.active span {
            background: url('../images/global7-active.png') no-repeat center top;
          }
        }
      }
    }
    .global__nav-foot {
      width: 100%;
      height: 45px;
      background: url('../images/global-bg.png') no-repeat center;
      background-size: auto 45px;
      position: relative;
      &:before {
        content:'';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: calc(50% - 73px);
        background:#fff;
        border-bottom: 3px solid #ffb100;
      }
      &:after {
        content:'';
        position: absolute;
        right: 0;
        bottom: 0;
        height: 100%;
        width: calc(50% - 73px);
        background:#fff;
        border-bottom: 3px solid #ffb100;
      }
    }
  }
  .global__button {
    width: 55px;
    height: 55px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 35px;
    z-index: 4000;
    background: url("../images/global-logo.png") $yello no-repeat center;
    background-size: auto 18px;
    border-radius: 50%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
    outline-width: 0;
    transition: all .3s;

    &.global__button--bigger {
      width: 73px;
      height: 73px;
      background-size: auto 22px;

      &.active {
        width: 55px;
        height: 55px;
      }
    }
    &.active {
      background: url("../images/global-logo.png") $red no-repeat center;
      background-size: auto 18px;
    }
  }
  .global__pagination {
    @apply flex;
    background: #fff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
    a {
      height: 65px;
      flex: 1;
      background: url("../images/pagi-arrow.png") no-repeat center;
      background-size: auto 18px;
      &.prev {
        transform: rotate(180deg);
      }
      &.next {
      }
    }
  }
}

