.tbl {
  border-bottom: 1px solid rgba(100, 100, 100, 0.5);
  &.border-none {
    border: none;
  }
  table {
    width: 100%;
    table-layout: fixed;
  }
  th {
    font-size: 10px;
    padding: 5px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.5);
  }
  td {
    font-size: 10px;
    padding: 10px 5px;
    text-align: center;
    &.text-left {
      @apply text-left;
    }

    &:first-child,
    &.no {
      font-weight: 600;
    }
  }

  .btnbox {
    display: flex;
    width: 100%;
  }
  .btn {
    width: 50px;
    height: 24px;
    line-height: 22px;
    font-size: 10px;
    text-align: center;
    border-radius: 2em;
    transition: all 0.3s;
    &.btn-red {
      color: $red;
      border: 1px solid $red;
      &:hover {
        background: $red;
        color: #fff;
      }
    }
    &.btn-black {
      border: 1px solid #5a5553;
      &:hover {
        background: #5a5553;
        color: #fff;
      }
    }
  }
}
